
.App {
  display:flex;
  justify-content: center;
  text-align: center;
}

.drum-pads{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.drum-pad{
  background-color: grey; 
  margin: 5px; 
  box-shadow: black 3px 3px 5px; 
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
